* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Mx437 IBM VGA 8x16", "JetBrains Mono NF";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(40, 46, 57, 0);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #d8dee9;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 1px 3px;
    border-radius: 4px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.15);
}

#workspaces button.active {
    background-color: #3b4252;
}

#pulseaudio,
#network,
#battery,
#clock,
#tray {
    padding: 3px 8px 0px 8px;
    border-radius: 8px;
    margin: 0px 3px;
}

#window,
#workspaces {
    margin: 0px 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right > widget:last-child > #battery {
    margin-right: 0;
}

#network {
    background-color: #EBCB8B;
    color: #2E3440;
}

#network.disconnected {
    background-color: #2E3440;
    color: #434C5E;
}

#pulseaudio {
    background-color: #EBCB8B;
    color: #2E3440;
}

#pulseaudio.muted {
    background-color: #282E39;
    color: #3B4252;
}

/*
#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}
*/

#battery.good {
    background-color: #A3BE8C;
    color: #2E3440;
}

#battery.warning {
    background-color: #D08770;
    color: #2E3440;
}

#battery.critical {
    background-color: #bf616a;
    color: #D8DEE9;
}

#battery.charging, #battery.plugged {
    background-color: #81A1C1;
    color: #2E3440;
}

#battery.full {
    background-color: #A3BE8C;
    color: #2E3440;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#clock {
    background-color: rgba(40, 46, 57, 1);
    color: #D8DEE9;
}

tooltip {
    background-color: #282E39;
    border: 0px;
    padding: 5px;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
